<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://d33wubrfki0l68.cloudfront.net">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500;700&family=Montserrat&family=Quicksand:wght@500;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/compressed/global.min.css">
    {%- if pageCSS -%}
      <link rel="stylesheet" href="/css/compressed/{{pageCSS}}.css">
    {%- endif -%}
    {%- if animation -%}
      <script src="/js/compressed/prefixfree.js"></script>
    {%- endif -%}
    <title>{{title}} | Troy V.</title>
    <meta name="description" content="{{description}}">
    <meta name="og:locale" content="en_US">
    <meta name="og:type" content="article">
    <meta name="og:title" content="{{title}}">
    <meta name="og:description" content="{{description}}">
    <meta name="og:site_name" content="troyv.dev">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:creator" content="@lowercasetroy">
    {%- if inline -%}
    <style>
      {{inline}}
    </style>
    {%- endif -%}
  </head>
  <body class="{{pageName}}">
    {% mainNav %}
    {{content}}
    {% footer %}
  {% scripts %}
  </body>
</html>
