<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand:500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/global.min.css">
    {%- if pageCSS -%}
      <link rel="stylesheet" href="/css/{{pageCSS}}.css">
    {%- endif -%}
    {%- if animation -%}
      <script src="/js/prefixfree.js"></script>
    {%- endif -%}
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <title>{{title}} | Troy V.</title>
    <meta name="description" content="{{description}}">
    <meta name="og:locale" content="en_US">
    <meta name="og:type" content="website">
    <meta name="og:title" content="{{title}}">
    <meta name="og:description" content="{{description}}">
    <meta name="og:site_name" content="troyv.dev">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:creator" content="@lowercasetroy">
    {%- if inline -%}
    <style>
      {{inline}}
    </style>
    {%- endif -%}
  </head>
  <body class="{{pageName}}">
    {% mainNav %}
    {{content}}
    {% footer %}
  <script src="/js/javascript.min.js" async></script>
  </body>
</html>
